In [1]:

import mechanicalsoup
import requests, re
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

driver = webdriver.Chrome("/opt/anaconda3/bin/chromedriver 2")
driver.get('https://kenpom.com/index.php')


driver.find_element_by_xpath('/html/body/div/div[1]/div[1]/div[1]/form')
e = driver.find_element_by_xpath('/html/body/div/div[1]/div[1]/div[1]/form/input[1]')
print(e)
e.send_keys("username")
e = driver.find_element_by_xpath('/html/body/div/div[1]/div[1]/div[1]/form/input[2]')
e.send_keys("password")
e = driver.find_element_by_xpath('/html/body/div/div[1]/div[1]/div[1]/form/input[3]')
e.click()

b = driver.find_element_by_xpath('/html/body/div/div[1]/div[1]/div[2]/nav/ul/li[2]/a')
print(b)
b.click()


headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 11_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36'}
url = "https://kenpom.com/fanmatch.php"

r=requests.get(url,headers=headers)
soup = BeautifulSoup(r.content, "html.parser")
list_category_elements = driver.find_element_by_xpath('/html/body/div/div[1]/div[3]/table')
links = list_category_elements.find_elements(By.TAG_NAME,"td")
links_values=[]
for i in range(len(links)):
   
    links_values.append(links[i].text)
df=pd.DataFrame((links_values),columns=['team'])
print(df)

links_values=np.array(links_values)

<selenium.webdriver.remote.webelement.WebElement (session="5f82aaf98b7e634e6c5bbc3753d7e709", element="a08a4ca0-f6b6-4991-992c-47d7aa5382ee")>
<selenium.webdriver.remote.webelement.WebElement (session="5f82aaf98b7e634e6c5bbc3753d7e709", element="2341767b-54cd-460d-9f80-3b7a0ef8ca7f")>
                                                  team
0    13 West Virginia 87,\n38 Oklahoma St. 84 [75]\...
1                            West Virginia 72-71 (52%)
2                                        box\nwin prob
3                  Stillwater, OK\nGallagher-Iba Arena
4                                              76.3\n1
..                                                 ...
120  1. Orlando Robinson, Fresno St. â€¢ 33 pts (11-1...
121  Note: Rankings shown for each team are for the...
122  Mean absolute error of predicted margin of vic...
123  Mean absolute error of predicted total score t...
124  Today's stats (D-I vs D-I only): Points per ga...

[125 rows x 1 columns]

In [2]:

df2=pd.DataFrame(df.team.str.rsplit(' ',n=2,expand=True))



df3=df2.iloc[1::7,:2]
df=df.iloc[0::7,:2]

df3.columns=['team','score']
df4=pd.DataFrame(df3.score.str.rsplit('-',n=2,expand=True))
df4.columns=['score1','score2']

Kenpom=pd.concat([df3['team'], df4.reindex(df3.index)], axis=1).iloc[0:100]
KenpomFinal=Kenpom.sort_values(by='team')

In [3]:
driver.get('https://haslametrics.com/ratings.php')
list_category_elements = driver.find_element_by_xpath('/html/body/div/table/tbody/tr[5]/td/div[3]/div/div/table')
links = list_category_elements.find_elements(By.CLASS_NAME,"scoreproj1")
links2= list_category_elements.find_elements(By.CLASS_NAME,"scoreproj2")
links_values2=[]
links2_values2=[]
for i in range(len(links)):
    
     
    links_values2.append(links[i].text)
for i in range(len(links2)):
    
   
    links2_values2.append(links2[i].text)


dfh1=pd.DataFrame(links_values2)
dfh2=pd.DataFrame(links2_values2)
links_values2=np.array(links_values2)
links2_values2=np.array(links2_values2)

In [4]:
dfh4=pd.DataFrame((links_values2[0::2]),columns=['Home'])
dfh3=pd.DataFrame((links_values2[1::2]),columns=['HScore'])

Hasla=pd.concat([dfh4, dfh3.reindex(dfh4.index)], axis=1).iloc[0:50]

In [5]:
dfh5=pd.DataFrame((links2_values2[0::2]),columns=['Away'])
dfh6=pd.DataFrame((links2_values2[1::2]),columns=['Ascore'])

Hasla2=pd.concat([dfh5, dfh6.reindex(dfh5.index)], axis=1).iloc[0:50]

In [6]:
Halsa=Hasla.sort_values(by='Home')

In [7]:
Hasla2=Hasla2.sort_values(by='Away')

In [8]:
Hasla2=pd.concat([dfh5, dfh6], axis=1).iloc[0:50]
HaslaF=pd.concat([Hasla, Hasla2], axis=1).iloc[0:25]
HaslaFinal=HaslaF.sort_values(by=['Home','Away'])

In [9]:
driver.get('https://barttorvik.com/schedule.php')
list_category_elements = driver.find_element_by_xpath('/html/body/div/div/p[4]/table/tbody')
links = list_category_elements.find_elements(By.TAG_NAME,'a')
links_values3=[]
for i in range(len(links)):
    
    links_values3.append(links[i].text)
    
    

dft=pd.DataFrame(links_values3)

dft=pd.DataFrame(np.array((links_values3)),
                         columns=['team1'])


links_values3=np.array(links_values3)

print(dft.iloc[0:20])

                              team1
0                     West Virginia
1                      Oklahoma St.
2   West Virginia -0.9\n72-71 (54%)
3              West Virginia, 87-84
4                          Maryland
5                           Indiana
6         Indiana -5.5\n71-65 (72%)
7                    Indiana, 63-55
8                          Monmouth
9                             Siena
10          Siena -2.6\n81-79 (59%)
11                     Siena, 76-62
12                     Colorado St.
13                    San Diego St.
14  San Diego St. -7.7\n71-63 (79%)
15
16                          Wyoming
17                       Fresno St.
18        Wyoming -1.5\n74-72 (56%)
19                Fresno St., 81-61

In [10]:

dft2=dft.team1.str.split(expand=True)

dft2=pd.DataFrame(dft.team1.str.split('\n',1).tolist(), 
                         columns = ['Teams','PredictedScore'])

Tovrik=dft2.iloc[2::4]
Tovrik.columns=['score1','score2']

In [11]:
TovrikF=pd.DataFrame(Tovrik.score2.str.rsplit('-',n=2,expand=True))
TovrikF.columns=['score1','score2']

In [12]:
TovrikFinal2=pd.DataFrame(TovrikF.score2.str.rsplit('(',n=2,expand=True))

In [13]:
Tovrikcombo=pd.concat([Tovrik, TovrikF.reindex(Tovrik.index)], axis=1).iloc[0:50]
TovrikFinal2=pd.DataFrame(TovrikF.score2.str.rsplit('(',n=2,expand=True))
Tovrikx=pd.concat([Tovrikcombo, TovrikFinal2.reindex(Tovrikcombo.index)], axis=1).iloc[0:50]
Tovrikx.columns=['Team','Pred','Score1','-','Score2','-']



TovFinal=Tovrikx.sort_values(by='Team')

In [14]:

driver.get('https://il.sportsbook.fanduel.com/sports/navigation/11086.3/11087.3')
b=driver.find_element_by_class_name("btn.tab.active")
print(b)
b.click()
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 11_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36'}



url = "https://il.sportsbook.fanduel.com/sports/navigation/11086.3/11087.3"

r = requests.get(url, headers=headers)
soup = BeautifulSoup(r.content, "html.parser")
list_category_elements = driver.find_element_by_xpath('/html/body/div[1]/div/div/div[6]/main/div/div/div/div/div[1]/div[3]/div[2]/div/div/div/div[3]/div/div/div/div/div[2]')
linksspread = list_category_elements.find_elements(By.CLASS_NAME,"event")

links_valuesFD=[]
for i in range(len(linksspread)):
   
    links_valuesFD.append(linksspread[i].text)

dffd=pd.DataFrame((links_valuesFD[0::]),columns=['Fanduel'])

<selenium.webdriver.remote.webelement.WebElement (session="5f82aaf98b7e634e6c5bbc3753d7e709", element="0feac519-b8f7-43be-93aa-47689f2945a8")>

In [15]:
dffd=pd.DataFrame((links_valuesFD),columns=['Fanduel'])
dffd.set_index('Fanduel')

dffd3=pd.DataFrame(dffd.Fanduel.str.rsplit('\n',n=25,expand=True))

Fanduel=dffd3.sort_values(by=[0])

In [16]:
Fanduel=dffd3.sort_values(by=[2])
Fanduel

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
3,Davidson,Duquesne,+1.5,-115,-1.5,-105,+100,-118,O,136.5,-114,U,136.5,-106,Tomorrow 6:00PM,MORE WAGERS
11,Connecticut,Marquette,+1.5,-112,-1.5,-108,+102,-120,O,139.5,-110,U,139.5,-110,Tomorrow 8:00PM,MORE WAGERS
7,Vanderbilt,Kentucky,+11.5,-102,-11.5,-120,+660,-1000,O,135.5,-106,U,135.5,-114,Tomorrow 6:00PM,MORE WAGERS
9,Iowa State,Texas,+11.5,-104,-11.5,-118,+640,-950,O,139.5,-110,U,139.5,-110,Tomorrow 7:00PM,MORE WAGERS
5,Kansas State,Texas Tech,+15.5,-106,-15.5,-114,+1200,-2500,O,125.5,-110,U,125.5,-110,Tomorrow 6:00PM,MORE WAGERS
4,Florida,Alabama,+2.5,-110,-2.5,-110,+124,-146,O,154.5,-110,U,154.5,-110,Tomorrow 6:00PM,MORE WAGERS
6,North Carolina State,Clemson,+4.5,-104,-4.5,-118,+188,-225,O,135.5,-110,U,135.5,-110,Tomorrow 6:00PM,MORE WAGERS
8,Western Michigan,Ball State,+8.5,-102,-8.5,-120,+380,-490,O,133.5,-114,U,133.5,-106,Tomorrow 6:00PM,MORE WAGERS
1,Central Michigan,Bowling Green,+9.5,-110,-9.5,-110,+410,-550,O,156.5,-110,U,156.5,-110,Tomorrow 5:00PM,MORE WAGERS
0,Toledo,Kent State,-1.5,-102,+1.5,-120,-116,-102,O,145.5,-115,U,145.5,-105,Tomorrow 1:00PM,MORE WAGERS
12,Memphis,UCF,-1.5,-104,+1.5,-118,-116,-102,O,137.5,-110,U,137.5,-110,Tomorrow 8:00PM,MORE WAGERS
14,Rutgers,Michigan State,-1.5,-102,+1.5,-120,-112,-104,O,152.5,-108,U,152.5,-112,Tomorrow 8:00PM,MORE WAGERS
2,Dayton,Fordham,-11.5,-110,+11.5,-110,-900,+610,O,126.5,-112,U,126.5,-108,Tomorrow 5:00PM,MORE WAGERS
13,Missouri,Mississippi State,-2.5,-118,+2.5,-104,-156,+132,O,138.5,-110,U,138.5,-110,Tomorrow 8:00PM,MORE WAGERS
10,North Carolina,Miami (FL),-3.5,-104,+3.5,-118,-162,+136,O,140.5,-115,U,140.5,-105,Tomorrow 7:00PM,MORE WAGERS
15,Kansas,TCU,-5.5,-105,+5.5,-115,-235,+194,O,138.5,-106,U,138.5,-114,Tomorrow 9:00PM,MORE WAGERS

In [17]:
KenpomFinal=Kenpom.sort_values(by='team')
KenpomFinal

                                                  team score1 score2
113                                                      None   None
106                                                      None   None
120  1. Orlando Robinson, Fresno St. â€¢ 33 pts (11-1...      1   None
99                                   Boston University     76     65
92                                          Coppin St.     80     72
64                                               Drake     76     65
36                                          Fresno St.     73     71
43                                        Gardner Webb     73     69
8                                              Indiana     70     66
78                                         Jackson St.     68     63
50                                             Montana     69     63
71                                             Radford     69     65
15                                       San Diego St.     73     64
29                                               Siena     79     75
22                                            Stanford     70     64
57                                         USC Upstate     70     67
1                                        West Virginia     72     71
85                                            Winthrop     81     69

In [18]:
HaslaFinal=HaslaF.sort_values(by=['Home','Away'])
HaslaFinal

                  Home HScore                Away Ascore
16
17
18
19
20
21
22
23
24
8         Boston U 162  73.34      Holy Cross 331  63.66
15    Coppin State 337  76.87  Delaware State 348  72.61
0             Drake 29  79.66     S. Illinois 192  61.75
9     Fresno State 178  74.35         Wyoming 255  68.32
10    Gardner-Webb 221  72.04        Campbell 257  68.16
3           Indiana 43  70.18         Maryland 36  68.76
14   Jackson State 322  66.66   Alabama State 340  66.66
6          Montana 125  71.30     N. Colorado 208  63.23
13          PV A&M 298  76.06    Alcorn State 352  70.26
12         Radford 281  70.43         Hampton 317  64.44
1   San Diego State 32  73.08  Colorado State 115  60.54
7            Siena 174  74.67        Monmouth 157  73.80
4          Stanford 47  71.83    Oregon State 143  64.23
11     USC Upstate 284  69.38        Longwood 272  67.75
2     West Virginia 33  71.63   Oklahoma State 51  71.07
5          Winthrop 80  80.18  Charleston So. 297  67.56

In [19]:
TovFinal=Tovrikx.sort_values(by='Team')
TovFinal.drop(TovFinal.columns[[1,3,5]], axis=1, inplace=True)
TovFinal

                       Team Score1 Score2
54  Boston University -10.0     74    65
46          Coppin St. -7.2     81    74
34              Drake -11.1     75    64
26        Gardner Webb -2.7     70    68
6              Indiana -5.5     71    65
58         Jackson St. -7.1     68    61
30            Longwood -0.3     70    69
42             Montana -7.3     67    60
50             Radford -4.0     67    63
14       San Diego St. -7.7     71    63
66      San Jose St. (100%)   None   None
10               Siena -2.6     81    79
62  South Dakota St. (100%)   None   None
22            Stanford -6.7     69    63
2        West Virginia -0.9     72    71
38           Winthrop -11.1     80    69
18             Wyoming -1.5     74    72